.carousel-hight{
    min-height: 60vh;
}
.carousel-img{
    object-fit: cover;
}
.grey-color{
    color: grey;
}
.margin-class{
    margin-left: 15%;
}
.started-btn{
    margin-left: 35%;
}
.elearning-bg-color{
    background-color: #F4FAFD;
}
/*phone*/
@media only screen and (max-width: 688px) {
    .courses-img{
        width: 100%;
        margin-bottom: 10px;
    }
    .margin-class{
        margin-left: 5%;
    }
    .working-img{
        width: 355px !important;
    }
    .working-p{
        width: 100% !important;
        margin-top: 10px;
    }
    .ready-join{
        width: 90% !important;
    }
}
/* Tab */
    @media only screen and (min-width:689px) and (max-width:992px){
    .courses-img{
        height: 212px;
    }
    .margin-class{
        margin-left: 6%;
    }
    .working-img{
        height: 552px !important;
        padding-right: 29px;
    }

}